footer.footer
  .container-fluid
    nav.pull-left
      ul
        li
          a(href='/')
            | Home
        li
          a(href='/getstarted')
            | Get Started
        li
          a(href='/blog')
            | Blog
    p.copyright.pull-right
      | &copy;
      script.
        document.write(new Date().getFullYear())
      a(href='https://github.com/suredream/nexcloud/') NEXCloud
      | , Science as a Service