.collapse.navbar-collapse
  ul.nav.navbar-nav.navbar-right
    li
      a.dropdown-toggle(href='#pablo' data-toggle='dropdown')
        i.material-icons dashboard
        p.hidden-lg.hidden-md Dashboard
    li.dropdown
      a.dropdown-toggle(href='#' data-toggle='dropdown')
        i.material-icons notifications
        span.notification 3
        p.hidden-lg.hidden-md Notifications
      ul.dropdown-menu
        li
          a(href='#') You have 1 new tasks
        li
          a(href='#') Another Notification
        li
          a(href='#') Another One
    li
      a.dropdown-toggle(href='/account' data-toggle='dropdown')
        i.material-icons person
        p.hidden-lg.hidden-md Profile
  form.navbar-form.navbar-right(role='search')
    .form-group.is-empty
      input.form-control(type='text' placeholder='Search')
      span.material-input
    button.btn.btn-white.btn-round.btn-just-icon(type='submit')
      i.material-icons search
      .ripple-container