.sidebar(data-color="purple" data-image="/assets/img/sidebar-1.jpg")
        //
          Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
          Tip 2: you can also add an image using data-image tag
        .logo
          a.simple-text(href="https://github.com/suredream/nexcloud")
            | My NEXCloud
        .sidebar-wrapper
          ul.nav
            li
              a(href="/")
                i.material-icons dashboard
                p Dashboard
            li
              a(href="/getstarted")
                i.material-icons explore
                p Get Started
            li
              a(href="/account")
                i.material-icons person
                p User AWS Account
            li
              a(href="/datasets")
                i.material-icons library_books
                p NEX Datasets
            li
              a(href="/repos")
                i.material-icons widgets
                p NEX Repositories
            li
              a(href="/tasks")
                i.material-icons touch_app
                p Cloud Tasks
            // li
            //   a(href="./typography.html")
            //     i.material-icons library_books
            //     p AWS S3 Buckets
            li
            //   a(href="./maps.html")
            //     i.material-icons location_on
            //     p NEX Community
            // li
            //   a(href="./notifications.html")
            //     i.material-icons.text-gray notifications
            //     p Notifications
            li.active-pro
              a(href="https://github.com/suredream/nexcloud/issues/new")
                i.material-icons unarchive
                p Create a Issue