extends layout

block content
    .content
      .container-fluid
        .row
          .col-md-8
            .card
              .card-header(data-background-color='purple')
                h4.title User AWS Account
                p.category Complete your profile
              .card-content
                form
                  .row
                    .col-md-12
                      .form-group.label-floating
                        label.control-label AWS_ACCESS_KEY_ID
                        input.form-control(type='text' value='*********************')
                  .row
                    .col-md-12
                      .form-group.label-floating
                        label.control-label AWS_SECRET_ACCESS_KEY
                        input.form-control(type='text' value='***************************')
                  // .row
                  //   .col-md-5
                  //     .form-group.label-floating
                  //       label.control-label Company (disabled)
                  //       input.form-control(type='text' disabled='')
                  //   .col-md-3
                  //     .form-group.label-floating
                  //       label.control-label Username
                  //       input.form-control(type='text')
                  //   .col-md-4
                  //     .form-group.label-floating
                  //       label.control-label Email address
                  //       input.form-control(type='email')
                  // .row
                  //   .col-md-6
                  //     .form-group.label-floating
                  //       label.control-label Fist Name
                  //       input.form-control(type='text')
                  //   .col-md-6
                  //     .form-group.label-floating
                  //       label.control-label Last Name
                  //       input.form-control(type='text')
                  // .row
                  //   .col-md-12
                  //     .form-group.label-floating
                  //       label.control-label Adress
                  //       input.form-control(type='text')
                  // .row
                  //   .col-md-4
                  //     .form-group.label-floating
                  //       label.control-label City
                  //       input.form-control(type='text')
                  //   .col-md-4
                  //     .form-group.label-floating
                  //       label.control-label Country
                  //       input.form-control(type='text')
                  //   .col-md-4
                  //     .form-group.label-floating
                  //       label.control-label Postal Code
                  //       input.form-control(type='text')
                  .row
                    .col-md-12
                      .form-group
                        a(href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html') If you don't have an AWS Key Pair, follow the instruction here
                        // .form-group.label-floating
                        //   label.control-label  If you don't have an AWS Key Pair, follow instruction here: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html
                          // textarea.form-control(rows='5')
                  button.btn.btn-primary.pull-right(type='submit') Update ACCOUNT INFO
                  .clearfix
          .col-md-4
            .card.card-profile
              .card-avatar
                a(href='#pablo')
                  img.img(src='../assets/img/faces/jun.jpg')
              .content
                h6.category.text-gray NASA Ames / BAERI
                h4.card-title Jun Xiong
                // p.card-content
                //   | Don&apos;t be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens&rsquo; bed design but the back is...
                // a.btn.btn-primary.btn-round(href='#pablo') Follow