extends layout

block content
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .card-header(data-background-color='purple')
                h4.title NEX/NASA Datasets
                p.category Here is a subtitle for this table
              .card-content.table-responsive
                table.table
                  thead.text-primary
                    th Name
                    th Link
                    th Action
                  tbody
                    tr
                      td Downscaled Climate Projections (NEX-DCP30)
                      td 
                        a(href="https://cds.nccs.nasa.gov/nex/") https://cds.nccs.nasa.gov/nex/
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
                    tr
                      td Global Daily Downscaled Projections (NEX-GDDP)
                      td 
                        a(href="https://nex.nasa.gov/nex/projects/1356/") https://nex.nasa.gov/nex/projects/1356/
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
                    tr
                      td Localized Constructed Analogs (LOCA)
                      td
                        a(href="http://loca.ucsd.edu/") http://loca.ucsd.edu/
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
                    tr
                      td GEONEX GOES-16 Land EOS Products
                      td
                        a(href="") TBD
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
          .col-md-12
            .card.card-plain
              .card-header(data-background-color='purple')
                h4.title Open Data on AWS
                p.category Here is a subtitle for this table
              .card-content.table-responsive
                table.table
                  thead.text-primary
                    th Name
                    th Link
                    th Action
                  tbody
                    tr
                      td NOAA GOES-16
                      td 
                        a(href="https://docs.opendata.aws/noaa-goes16/cics-readme.html") https://docs.opendata.aws/noaa-goes16/cics-readme.html
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
                    tr
                      td Sentinel-2
                      td 
                        a(href="http://sentinel-pds.s3-website.eu-central-1.amazonaws.com/") http://sentinel-pds.s3-website.eu-central-1.amazonaws.com/
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
                    tr
                      td Landsat 8
                      td
                        a(href="https://docs.opendata.aws/landsat-pds/readme.html") https://docs.opendata.aws/landsat-pds/readme.html
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li.divider(role='separator')
                            li
                              a(href='#') Download Sample
