extends layout

block content
    .content
      .container-fluid
          .row
            .col-md-8
              .card
                .card-header(data-background-color='purple')
                  p.category
                    a(target='_blank' href='https://design.google.com/icons/') Run your first job on NEXCloud
                .card-content
                  p
                    | A seperated page here collecting all reference sources will be friendly to users. The documentation and tutorial will be provided in blog-like posts on the Medium.com.  Learn how to use NEXCloud in our developer guide
                    | .
                .card-header(data-background-color='purple')
                  p.category
                    a(target='_blank' href='https://design.google.com/icons/') Build your own image to bring your big compute to the big data
                .card-content
                  p
                    | A seperated page here collecting all reference sources will be friendly to users. The documentation and tutorial will be provided in blog-like posts on the Medium.com.  Learn how to use NEXCloud in our developer guide
                    | .
                .card-header(data-background-color='purple')
                  p.category
                    a(target='_blank' href='https://design.google.com/icons/') Prepare your cloud architecture ready to carry out Cloud Analytics
                .card-content
                  p
                    | A seperated page here collecting all reference sources will be friendly to users. The documentation and tutorial will be provided in blog-like posts on the Medium.com.  Learn how to use NEXCloud in our developer guide
                    | .
                .card-header(data-background-color='purple')
                  p.category
                    a(target='_blank' href='https://design.google.com/icons/') Budget, cost model of a dockeized application on AWS
                .card-content
                  p
                    | A seperated page here collecting all reference sources will be friendly to users. The documentation and tutorial will be provided in blog-like posts on the Medium.com.  Learn how to use NEXCloud in our developer guide
                    | .
                .card-header(data-background-color='purple')
                  p.category
                    a(target='_blank' href='https://design.google.com/icons/') Runnng you dockerized pipeline on supercomputers through CharlieCloud
                .card-content
                  p
                    | A seperated page here collecting all reference sources will be friendly to users. The documentation and tutorial will be provided in blog-like posts on the Medium.com.  Learn how to use NEXCloud in our developer guide
                    | .