extends layout

block content
        .content
          .container-fluid
            .row
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color="orange")
                    i.material-icons data_usage
                  .card-content
                    p.category Used Quota
                    h3.title
                      | 49/50
                      small GB
                  .card-footer
                    .stats
                      i.material-icons.text-danger warning
                      a(href="#pablo") Get More Space...
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color="green")
                    i.material-icons widgets
                  .card-content
                    p.category User Images
                    h3.title 5
                  .card-footer
                    .stats
                      i.material-icons date_range
                      |  Last 30 Days
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color="red")
                    i.material-icons touch_app
                  .card-content
                    p.category Running Tasks
                    h3.title 2
                  .card-footer
                    .stats
                      i.material-icons local_offer
                      |  Tracked from Github
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(data-background-color="blue")
                    i.material-icons shop
                  .card-content
                    p.category Cost Estimation
                    h3.title $245.69
                  .card-footer
                    .stats
                      i.material-icons update
                      |  Just Updated
            // .row
            //   .col-md-4
            //     .card
            //       .card-header.card-chart(data-background-color="green")
            //         #dailySalesChart.ct-chart
            //       .card-content
            //         h4.title Daily Sales
            //         p.category
            //           span.text-success
            //             i.fa.fa-long-arrow-up
            //             |  55%
            //           |  increase in today sales.
            //       .card-footer
            //         .stats
            //           i.material-icons access_time
            //           |  updated 4 minutes ago
            //   .col-md-4
            //     .card
            //       .card-header.card-chart(data-background-color="orange")
            //         #emailsSubscriptionChart.ct-chart
            //       .card-content
            //         h4.title Email Subscriptions
            //         p.category Last Campaign Performance
            //       .card-footer
            //         .stats
            //           i.material-icons access_time
            //           |  campaign sent 2 days ago
            //   .col-md-4
            //     .card
            //       .card-header.card-chart(data-background-color="red")
            //         #completedTasksChart.ct-chart
            //       .card-content
            //         h4.title Completed Tasks
            //         p.category Last Campaign Performance
            //       .card-footer
            //         .stats
            //           i.material-icons access_time
            //           |  campaign sent 2 days ago
            .row
              .col-lg-6.col-md-12
                .card.card-nav-tabs
                  .card-header(data-background-color="purple")
                    .nav-tabs-navigation
                      .nav-tabs-wrapper
                        span.nav-tabs-title Tasks:
                        ul.nav.nav-tabs(data-tabs="tabs")
                          // li.active
                          //   a(href="#profile" data-toggle="tab")
                          //     i.material-icons bug_report
                          //     |  Bugs
                          //     .ripple-container
                          li.active
                            a(href="#settings" data-toggle="tab")
                              i.material-icons cloud
                              |  Cloud
                              .ripple-container
                          li
                            a(href="#messages" data-toggle="tab")
                              i.material-icons code
                              |  Local
                              .ripple-container
                  .card-content
                    .tab-content
                      // #profile.tab-pane.active
                      //   table.table
                      //     tbody
                      //       tr
                      //         td
                      //           .checkbox
                      //             label
                      //               input(type="checkbox" name="optionsCheckboxes" checked="")
                      //         td Sign contract for "What are conference organizers afraid of?"
                      //         td.td-actions.text-right
                      //           button.btn.btn-primary.btn-simple.btn-xs(type="button" rel="tooltip" title="Edit Task")
                      //             i.material-icons edit
                      //           button.btn.btn-danger.btn-simple.btn-xs(type="button" rel="tooltip" title="Remove")
                      //             i.material-icons close
                      //       tr
                      //         td
                      //           .checkbox
                      //             label
                      //               input(type="checkbox" name="optionsCheckboxes")
                      //         td Lines From Great Russian Literature? Or E-mails From My Boss?
                      //         td.td-actions.text-right
                      //           button.btn.btn-primary.btn-simple.btn-xs(type="button" rel="tooltip" title="Edit Task")
                      //             i.material-icons edit
                      //           button.btn.btn-danger.btn-simple.btn-xs(type="button" rel="tooltip" title="Remove")
                      //             i.material-icons close
                      //       tr
                      //         td
                      //           .checkbox
                      //             label
                      //               input(type="checkbox" name="optionsCheckboxes")
                      //         td
                      //           | Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                      //         td.td-actions.text-right
                      //           button.btn.btn-primary.btn-simple.btn-xs(type="button" rel="tooltip" title="Edit Task")
                      //             i.material-icons edit
                      //           button.btn.btn-danger.btn-simple.btn-xs(type="button" rel="tooltip" title="Remove")
                      //             i.material-icons close
                      //       tr
                      //         td
                      //           .checkbox
                      //             label
                      //               input(type="checkbox" name="optionsCheckboxes" checked="")
                      //         td Create 4 Invisible User Experiences you Never Knew About
                      //         td.td-actions.text-right
                      //           button.btn.btn-primary.btn-simple.btn-xs(type="button" rel="tooltip" title="Edit Task")
                      //             i.material-icons edit
                      //           button.btn.btn-danger.btn-simple.btn-xs(type="button" rel="tooltip" title="Remove")
                      //             i.material-icons close
                      #messages.tab-pane
                        table.table
                          tbody
                            tr
                              td
                                .checkbox
                                  label
                                    input(type="checkbox" name="optionsCheckboxes" checked="")
                              td
                                | something works with local docker environments
                              td.td-actions.text-right
                                button.btn.btn-primary.btn-simple.btn-xs(type="button" rel="tooltip" title="Edit Task")
                                  i.material-icons edit
                                button.btn.btn-danger.btn-simple.btn-xs(type="button" rel="tooltip" title="Remove")
                                  i.material-icons close
                      #settings.tab-pane.active
                        table.table
                          tbody
                            tr
                              td
                                .checkbox
                                  label
                                    input(type="checkbox" name="optionsCheckboxes" checked="")
                              td
                                | something the users are running on the cloud, e.g. geonex preprocess on aws ec2 t2.2xlarge 
                              td.td-actions.text-right
                                button.btn.btn-primary.btn-simple.btn-xs(type="button" rel="tooltip" title="Edit Task")
                                  i.material-icons edit
                                button.btn.btn-danger.btn-simple.btn-xs(type="button" rel="tooltip" title="Remove")
                                  i.material-icons close
              .col-lg-6.col-md-12
                .card
                  .card-header(data-background-color="orange")
                    h4.title Containers Stats
                    p.category Most popular containers on NEX
                  .card-content.table-responsive
                    table.table.table-hover
                      thead.text-warning
                        th ID
                        th Name
                        th Pull
                        th Running Times
                      tbody
                        tr
                          td 1
                          td geonex/preprocess
                          td 130
                          td 57
                        tr
                          td 2
                          td geonex/maiac
                          td 22
                          td 16
                        tr
                          td 3
                          td geonex/nc-visualize
                          td 15
                          td 15
                        tr
                          td 4
                          td geonex/archiver
                          td 5
                          td 5