doctype html
head
  meta(charset='utf-8')
  link(rel='apple-touch-icon' sizes='76x76' href='../assets/img/apple-icon.png')
  link(rel='icon' type='image/png' href='../assets/img/favicon.png')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  title NEXCloud - Science as a Service
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
  meta(name='viewport' content='width=device-width')
  // Bootstrap core CSS
  link(href='../assets/css/bootstrap.min.css' rel='stylesheet')
  // Material Dashboard CSS
  link(href='../assets/css/material-dashboard.css?v=1.2.0' rel='stylesheet')
  // CSS for Demo Purpose, don't include it in your project
  link(href='../assets/css/demo.css' rel='stylesheet')
  // Fonts and icons
  link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css')
.wrapper
  include includes/sidebar.pug
  .main-panel
    nav.navbar.navbar-transparent.navbar-absolute
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button' data-toggle='collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')=title
          include includes/navbar.pug
    block content
    include includes/footer.pug

// Core JS Files
script(src='../assets/js/jquery-3.2.1.min.js' type='text/javascript')
script(src='../assets/js/bootstrap.min.js' type='text/javascript')
script(src='../assets/js/material.min.js' type='text/javascript')
// Charts Plugin
script(src='../assets/js/chartist.min.js')
// Dynamic Elements plugin
script(src='../assets/js/arrive.min.js')
// PerfectScrollbar Library
script(src='../assets/js/perfect-scrollbar.jquery.min.js')
// Notifications Plugin
script(src='../assets/js/bootstrap-notify.js')
// Google Maps Plugin
script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
// Material Dashboard javascript methods
script(src='../assets/js/material-dashboard.js?v=1.2.0')
// Material Dashboard DEMO methods, don't include it in your project!
script(src='../assets/js/demo.js')