extends layout

block content
    .content
      .container-fluid
        .row
          .col-md-12
            .card.card-plain
              .card-header(data-background-color='purple')
                h4.title Active NEX Images
                p.category Here is a subtitle for this table
              .card-content.table-responsive
                table.table
                  thead.text-primary
                    th REPOSITORY
                    th TAG
                    th IMAGE ID
                    th CREATED
                    th Size
                    th Action
                  tbody
                    tr
                      td geonex/preprocess
                      td latest
                      td 940831e15cae
                      td 7 days ago
                      td.text-primary 1.09 G8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='/create-instance') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Pull
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td geonex/maiac
                      td latest
                      td caaba995d5a6
                      td 4 days ago
                      td.text-primary 574 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Pull
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td geonex/nc-visualize
                      td 0.1
                      td 8067bd9a6ae8
                      td 2 days ago
                      td.text-primary 161 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Pull
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td geonex/gee-uploader
                      td 1.2
                      td 556766983e19
                      td 2 days ago
                      td.text-primary 87.6 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Pull
                            li
                              a(href='#') Export (CharlieCloud)
          .col-md-12
            .card.card-plain
              .card-header(data-background-color='purple')
                h4.title User-defined Images
                p.category Here is a subtitle for this table
              .card-content.table-responsive
                table.table.table-hover
                  thead.text-primary
                    th REPOSITORY
                    th TAG
                    th IMAGE ID
                    th CREATED
                    th Size
                    th Action
                  tbody
                    tr
                      td jxiong/goesretl
                      td latest
                      td 117e670a390c
                      td 12 days ago
                      td.text-primary 99.6 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Submit to NEX Registry
                            li
                              a(href='#') Remove
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td jxiong/goesrlst
                      td latest
                      td bba4fa19eb60
                      td 5 days ago
                      td.text-primary 436 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Submit to NEX Registry
                            li
                              a(href='#') Remove
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td jxiong/goesrarc
                      td latest
                      td bba4fa19eb60
                      td 1 days ago
                      td.text-primary 147 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Submit to NEX Registry
                            li
                              a(href='#') Remove
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td jxiong/gee-sentinel
                      td latest
                      td dd99abd0503e
                      td 11 days ago
                      td.text-primary 274 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Submit to NEX Registry
                            li
                              a(href='#') Remove
                            li
                              a(href='#') Export (CharlieCloud)
                    tr
                      td jxiong/fy4a-prep
                      td latest
                      td 3fd9065eaf02
                      td 18 days ago
                      td.text-primary 322 M8
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Create Instances
                            li.divider(role='separator')
                            li
                              a(href='#') Submit to NEX Registry
                            li
                              a(href='#') Remove
                            li
                              a(href='#') Export (CharlieCloud)