extends layout

block content
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .card-header(data-background-color='purple')
                h4.title Running Tasks
                p.category Here is a subtitle for this table
              .card-content.table-responsive
                table.table
                  thead.text-primary
                    th Name
                    th Type
                    th Count
                    th Zone
                    th State
                    th Launch Time
                    th Action
                  tbody
                    tr
                      td geonex/preprocess
                      td t2.2xlarge
                      td 1
                      td us-west-2
                      td running
                      td stopped
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Redo
                            li
                              a(href='#') Log
                            li.divider(role='separator')
                            li
                              a(href='#') Stop
                            li
                              a(href='#') Terminate
                    tr
                      td geonex/maiac
                      td t2.2xlarge
                      td 5
                      td us-west-2
                      td running
                      td stopped
                      td
                        .btn-group
                          button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Desc 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Desc
                            li
                              a(href='#') Redo
                            li
                              a(href='#') Log
                            li.divider(role='separator')
                            li
                              a(href='#') Stop
                            li
                              a(href='#') Terminate